{"openapi":"3.0.3","x-stoplight":{"id":"o6xkvvnct0fdh"},"info":{"title":"VTLOG","version":"1.2","x-logo":{"url":""},"description":"Official VTLOG Api"},"servers":[{"url":"https://api.vtlog.net/v1","description":"Version 1","x-last-modified":1691695341809}],"paths":{"/user/{steam_id}":{"description":"General information about user","get":{"tags":[],"x-stoplight":{"id":"sdb1d42irjdc8"},"operationId":"user-steam-id","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"steam_id":{"type":"string"},"username":{"type":"string"},"discord_id":{"type":"string"},"vtc_id":{"type":"integer"},"avatar":{"type":"string"},"cover":{"type":"string"},"financial":{"type":"object","properties":{"income":{"type":"integer"},"expense":{"type":"integer"},"profit":{"type":"integer"}}},"experience":{"type":"number"},"level":{"type":"integer"},"created_at":{"type":"string"},"updated_at":{"type":"string"}},"x-examples":{"Example 1":{"steam_id":"76561198042108497","username":"The Fabby","discord_id":"120835881337618433","vtc_id":6702,"avatar":"https://uploads.vtlog.net/user-avatar/76561198042108497-1663675217.png","cover":"https://uploads.vtlog.net/user-cover/76561198042108497-1678583895.png","financial":{"income":75393,"expense":33234,"profit":42159},"experience":7012.0143,"level":9,"created_at":"2022-10-21T16:42:46.000Z","updated_at":"2022-10-21T16:42:46.000Z"}}},"examples":{"Example":{"value":{"steam_id":"76561198042108497","username":"The Fabby","discord_id":"120835881337618433","vtc_id":6702,"avatar":"https://uploads.vtlog.net/user-avatar/76561198042108497-1663675217.png","cover":"https://uploads.vtlog.net/user-cover/76561198042108497-1678583895.png","financial":{"income":75393,"expense":33234,"profit":42159},"experience":7012.0143,"level":9,"created_at":"2022-10-21T16:42:46.000Z","updated_at":"2022-10-21T16:42:46.000Z"}}}}}},"404":{"$ref":"#/components/responses/User-not-found"}},"description":"","summary":"User Info"},"parameters":[{"name":"steam_id","in":"path","required":true,"schema":{"type":"string","format":"int64","default":"76561198042108497","minimum":17,"maximum":17}}],"x-last-modified":1691695520831},"/user/{steam_id}/dlc":{"parameters":[{"name":"steam_id","in":"path","required":true,"schema":{"type":"string","format":"int64","default":"76561198042108497","minimum":17,"maximum":17,"example":"76561198042108497"}}],"get":{"summary":"User DLC's","tags":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"ETS2":{"type":"object","properties":{"Map expansion":{"type":"object","properties":{"Purchased":{"type":"array","items":{"type":"object","properties":{"app_id":{"type":"integer"},"game":{"type":"string"},"category":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"status":{"type":"string"}}}}}},"Paint jobs":{"type":"object","properties":{"Purchased":{"type":"array","items":{"type":"object","properties":{"app_id":{"type":"integer"},"game":{"type":"string"},"category":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"status":{"type":"string"}}}}}},"Trailer pack":{"type":"object","properties":{"Purchased":{"type":"array","items":{"type":"object","properties":{"app_id":{"type":"integer"},"game":{"type":"string"},"category":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"status":{"type":"string"}}}}}},"Accessories":{"type":"object","properties":{"Purchased":{"type":"array","items":{"type":"object","properties":{"app_id":{"type":"integer"},"game":{"type":"string"},"category":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"status":{"type":"string"}}}}}},"Truck pack":{"type":"object","properties":{"Purchased":{"type":"array","items":{"type":"object","properties":{"app_id":{"type":"integer"},"game":{"type":"string"},"category":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"status":{"type":"string"}}}}}},"Unsorted":{"type":"object","properties":{"Purchased":{"type":"array","items":{"type":"object","properties":{"app_id":{"type":"integer"},"game":{"type":"string"},"category":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"status":{"type":"string"}}}}}},"null":{"type":"object","properties":{"Purchased":{"type":"array","items":{"type":"object","properties":{"app_id":{"type":"integer"},"game":{"type":"string"},"category":{"type":"null"},"name":{"type":"null"},"description":{"type":"string"},"status":{"type":"string"}}}}}}}}},"x-examples":{"Example 1":{"ETS2":{"Map expansion":{"Purchased":[{"app_id":227310,"game":"ETS2","category":"Map expansion","name":"going_east","description":"Euro Truck Simulator 2 - Going East!","status":"Purchased"},{"app_id":304212,"game":"ETS2","category":"Map expansion","name":"scandinavia","description":"Euro Truck Simulator 2 - Scandinavia","status":"Purchased"},{"app_id":558244,"game":"ETS2","category":"Map expansion","name":"italia","description":"Euro Truck Simulator 2 - Italia","status":"Purchased"},{"app_id":1209460,"game":"ETS2","category":"Map expansion","name":"iberia","description":"Euro Truck Simulator 2 - Iberia","status":"Purchased"},{"app_id":1056760,"game":"ETS2","category":"Map expansion","name":"road_to_the_black_sea","description":"Euro Truck Simulator 2 - Road to the Black Sea","status":"Purchased"},{"app_id":531130,"game":"ETS2","category":"Map expansion","name":"vive_la_france_","description":"Euro Truck Simulator 2 - Vive la France !","status":"Purchased"},{"app_id":925580,"game":"ETS2","category":"Map expansion","name":"beyond_the_baltic_sea","description":"Euro Truck Simulator 2 - Beyond the Baltic Sea","status":"Purchased"}]},"Paint jobs":{"Purchased":[{"app_id":266930,"game":"ETS2","category":"Paint jobs","name":"ice_cold_paint_jobs_pack","description":"Euro Truck Simulator 2 - Ice Cold Paint Jobs Pack","status":"Purchased"},{"app_id":292320,"game":"ETS2","category":"Paint jobs","name":"force_of_nature_paint_jobs_pack","description":"Euro Truck Simulator 2 - Force of Nature Paint Jobs Pack","status":"Purchased"},{"app_id":297793,"game":"ETS2","category":"Paint jobs","name":"scottish_paint_jobs_pack","description":"Euro Truck Simulator 2 - Scottish Paint Jobs Pack","status":"Purchased"},{"app_id":304020,"game":"ETS2","category":"Paint jobs","name":"polish_paint_jobs_pack","description":"Euro Truck Simulator 2 - Polish Paint Jobs Pack","status":"Purchased"},{"app_id":318520,"game":"ETS2","category":"Paint jobs","name":"christmas_paint_jobs_pack","description":"Euro Truck Simulator 2 - Christmas Paint Jobs Pack","status":"Purchased"},{"app_id":347190,"game":"ETS2","category":"Paint jobs","name":"norwegian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Norwegian Paint Jobs Pack","status":"Purchased"},{"app_id":347213,"game":"ETS2","category":"Paint jobs","name":"russian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Russian Paint Jobs Pack","status":"Purchased"},{"app_id":461241,"game":"ETS2","category":"Paint jobs","name":"spanish_paint_jobs_pack","description":"Euro Truck Simulator 2 - Spanish Paint Jobs Pack","status":"Purchased"},{"app_id":461243,"game":"ETS2","category":"Paint jobs","name":"austrian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Austrian Paint Jobs Pack","status":"Purchased"},{"app_id":461247,"game":"ETS2","category":"Paint jobs","name":"chinese_paint_jobs_pack","description":"Euro Truck Simulator 2 - Chinese Paint Jobs Pack","status":"Purchased"},{"app_id":540720,"game":"ETS2","category":"Paint jobs","name":"finnish_paint_jobs_pack","description":"Euro Truck Simulator 2 - Finnish Paint Jobs Pack","status":"Purchased"},{"app_id":558240,"game":"ETS2","category":"Paint jobs","name":"dragon_truck_design_pack","description":"Euro Truck Simulator 2 - Dragon Truck Design Pack","status":"Purchased"},{"app_id":876980,"game":"ETS2","category":"Paint jobs","name":"portuguese_paint_jobs_pack","description":"Euro Truck Simulator 2 - Portuguese Paint Jobs Pack","status":"Purchased"},{"app_id":258460,"game":"ETS2","category":"Paint jobs","name":"halloween_paint_jobs_pack","description":"Euro Truck Simulator 2 - Halloween Paint Jobs Pack","status":"Purchased"},{"app_id":297790,"game":"ETS2","category":"Paint jobs","name":"metallic_paint_jobs_pack","description":"Euro Truck Simulator 2 - Metallic Paint Jobs Pack","status":"Purchased"},{"app_id":297792,"game":"ETS2","category":"Paint jobs","name":"irish_paint_jobs_pack","description":"Euro Truck Simulator 2 - Irish Paint Jobs Pack","status":"Purchased"},{"app_id":304140,"game":"ETS2","category":"Paint jobs","name":"brazilian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Brazilian Paint Jobs Pack","status":"Purchased"},{"app_id":304211,"game":"ETS2","category":"Paint jobs","name":"usa_paint_jobs_pack","description":"Euro Truck Simulator 2 - USA Paint Jobs Pack","status":"Purchased"},{"app_id":318500,"game":"ETS2","category":"Paint jobs","name":"german_paint_jobs_pack","description":"Euro Truck Simulator 2 - German Paint Jobs Pack","status":"Purchased"},{"app_id":318511,"game":"ETS2","category":"Paint jobs","name":"czech_paint_jobs_pack","description":"Euro Truck Simulator 2 - Czech Paint Jobs Pack","status":"Purchased"},{"app_id":347210,"game":"ETS2","category":"Paint jobs","name":"danish_paint_jobs_pack","description":"Euro Truck Simulator 2 - Danish Paint Jobs Pack","status":"Purchased"},{"app_id":347212,"game":"ETS2","category":"Paint jobs","name":"viking_legends","description":"Euro Truck Simulator 2 - Viking Legends","status":"Purchased"},{"app_id":388472,"game":"ETS2","category":"Paint jobs","name":"japanese_paint_jobs_pack","description":"Euro Truck Simulator 2 - Japanese Paint Jobs Pack","status":"Purchased"},{"app_id":388474,"game":"ETS2","category":"Paint jobs","name":"turkish_paint_jobs_pack","description":"Euro Truck Simulator 2 - Turkish Paint Jobs Pack","status":"Purchased"},{"app_id":461240,"game":"ETS2","category":"Paint jobs","name":"slovak_paint_jobs_pack","description":"Euro Truck Simulator 2 - Slovak Paint Jobs Pack","status":"Purchased"},{"app_id":461246,"game":"ETS2","category":"Paint jobs","name":"swiss_paint_jobs_pack","description":"Euro Truck Simulator 2 - Swiss Paint Jobs Pack","status":"Purchased"},{"app_id":526950,"game":"ETS2","category":"Paint jobs","name":"lunar_new_year_pack","description":"Euro Truck Simulator 2 - Lunar New Year Pack","status":"Purchased"},{"app_id":558241,"game":"ETS2","category":"Paint jobs","name":"romanian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Romanian Paint Jobs Pack","status":"Purchased"},{"app_id":558243,"game":"ETS2","category":"Paint jobs","name":"valentines_paint_jobs_pack","description":"Euro Truck Simulator 2 - Valentines Paint Jobs Pack","status":"Purchased"},{"app_id":909640,"game":"ETS2","category":"Paint jobs","name":"dutch_paint_jobs_pack","description":"Euro Truck Simulator 2 - Dutch Paint Jobs Pack","status":"Purchased"},{"app_id":925650,"game":"ETS2","category":"Paint jobs","name":"space_paint_jobs_pack","description":"Euro Truck Simulator 2 - Space Paint Jobs Pack","status":"Purchased"},{"app_id":980591,"game":"ETS2","category":"Paint jobs","name":"latvian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Latvian Paint Jobs Pack","status":"Purchased"},{"app_id":266931,"game":"ETS2","category":"Paint jobs","name":"prehistoric_paint_jobs_pack","description":"Euro Truck Simulator 2 - Prehistoric Paint Jobs Pack","status":"Purchased"},{"app_id":297791,"game":"ETS2","category":"Paint jobs","name":"uk_paint_jobs_pack","description":"Euro Truck Simulator 2 - UK Paint Jobs Pack","status":"Purchased"},{"app_id":301180,"game":"ETS2","category":"Paint jobs","name":"flip_paint_designs","description":"Euro Truck Simulator 2 - Flip Paint Designs","status":"Purchased"},{"app_id":304210,"game":"ETS2","category":"Paint jobs","name":"fantasy_paint_jobs_pack","description":"Euro Truck Simulator 2 - Fantasy Paint Jobs Pack","status":"Purchased"},{"app_id":304213,"game":"ETS2","category":"Paint jobs","name":"canadian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Canadian Paint Jobs Pack","status":"Purchased"},{"app_id":318510,"game":"ETS2","category":"Paint jobs","name":"french_paint_jobs_pack","description":"Euro Truck Simulator 2 - French Paint Jobs Pack","status":"Purchased"},{"app_id":318521,"game":"ETS2","category":"Paint jobs","name":"raven_truck_design_pack","description":"Euro Truck Simulator 2 - Raven Truck Design Pack","status":"Purchased"},{"app_id":347211,"game":"ETS2","category":"Paint jobs","name":"swedish_paint_jobs_pack","description":"Euro Truck Simulator 2 - Swedish Paint Jobs Pack","status":"Purchased"},{"app_id":388476,"game":"ETS2","category":"Paint jobs","name":"italian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Italian Paint Jobs Pack","status":"Purchased"},{"app_id":388479,"game":"ETS2","category":"Paint jobs","name":"hungarian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Hungarian Paint Jobs Pack","status":"Purchased"},{"app_id":461245,"game":"ETS2","category":"Paint jobs","name":"south_korean_paint_jobs_pack","description":"Euro Truck Simulator 2 - South Korean Paint Jobs Pack","status":"Purchased"},{"app_id":461248,"game":"ETS2","category":"Paint jobs","name":"pirate_paint_jobs_pack","description":"Euro Truck Simulator 2 - Pirate Paint Jobs Pack","status":"Purchased"},{"app_id":540721,"game":"ETS2","category":"Paint jobs","name":"belgian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Belgian Paint Jobs Pack","status":"Purchased"},{"app_id":558242,"game":"ETS2","category":"Paint jobs","name":"australian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Australian Paint Jobs Pack","status":"Purchased"},{"app_id":980590,"game":"ETS2","category":"Paint jobs","name":"estonian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Estonian Paint Jobs Pack","status":"Purchased"},{"app_id":980592,"game":"ETS2","category":"Paint jobs","name":"lithuanian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Lithuanian Paint Jobs Pack","status":"Purchased"}]},"Trailer pack":{"Purchased":[{"app_id":304214,"game":"ETS2","category":"Trailer pack","name":"high_power_cargo_pack","description":"Euro Truck Simulator 2 - High Power Cargo Pack","status":"Purchased"},{"app_id":388477,"game":"ETS2","category":"Trailer pack","name":"schwarzmuller_trailer_pack","description":"Euro Truck Simulator 2 - Schwarzmüller Trailer Pack","status":"Purchased"},{"app_id":933610,"game":"ETS2","category":"Trailer pack","name":"krone_trailer_pack","description":"Euro Truck Simulator 2 - Krone Trailer Pack","status":"Purchased"},{"app_id":531131,"game":"ETS2","category":"Trailer pack","name":"heavy_cargo_pack","description":"Euro Truck Simulator 2 - Heavy Cargo Pack","status":"Purchased"},{"app_id":558245,"game":"ETS2","category":"Trailer pack","name":"special_transport","description":"Euro Truck Simulator 2 - Special Transport","status":"Purchased"}]},"Accessories":{"Purchased":[{"app_id":388471,"game":"ETS2","category":"Accessories","name":"michelin_fan_pack","description":"Euro Truck Simulator 2 - Michelin Fan Pack","status":"Purchased"},{"app_id":388475,"game":"ETS2","category":"Accessories","name":"wheel_tuning_pack","description":"Euro Truck Simulator 2 - Wheel Tuning Pack","status":"Purchased"},{"app_id":461249,"game":"ETS2","category":"Accessories","name":"xf_tuning_pack","description":"Euro Truck Simulator 2 - XF Tuning Pack","status":"Purchased"},{"app_id":1056761,"game":"ETS2","category":"Accessories","name":"actros_tuning_pack","description":"Euro Truck Simulator 2 - Actros Tuning Pack","status":"Purchased"},{"app_id":461244,"game":"ETS2","category":"Accessories","name":"mighty_griffin_tuning_pack","description":"Euro Truck Simulator 2 - Mighty Griffin Tuning Pack","status":"Purchased"},{"app_id":1209461,"game":"ETS2","category":"Accessories","name":"hs-schoch_tuning_pack","description":"Euro Truck Simulator 2 - HS-Schoch Tuning Pack","status":"Purchased"},{"app_id":388470,"game":"ETS2","category":"Accessories","name":"cabin_accessories","description":"Euro Truck Simulator 2 - Cabin Accessories","status":"Purchased"},{"app_id":461242,"game":"ETS2","category":"Accessories","name":"window_flags","description":"Euro Truck Simulator 2 - Window Flags","status":"Purchased"},{"app_id":1117140,"game":"ETS2","category":"Accessories","name":"goodyear_tyres_pack","description":"Euro Truck Simulator 2 - Goodyear Tyres Pack","status":"Purchased"},{"app_id":1299530,"game":"ETS2","category":"Accessories","name":"fh_tuning_pack","description":"Euro Truck Simulator 2 - FH Tuning Pack","status":"Purchased"}]},"Truck pack":{"Purchased":[{"app_id":1650650,"game":"ETS2","category":"Truck pack","name":"daf_xg/xg+","description":"Euro Truck Simulator 2 - DAF XG/XG+","status":"Purchased"}]},"Unsorted":{"Purchased":[{"app_id":388478,"game":"ETS2","category":"Unsorted","name":"rocket_league_promo","description":"Euro Truck Simulator 2 - Rocket League Promo","status":"Purchased"},{"app_id":388473,"game":"ETS2","category":"Unsorted","name":"pc_gamer_dlc","description":"Euro Truck Simulator 2 - PC Gamer DLC","status":"Purchased"}]},"null":{"Purchased":[{"app_id":1967640,"game":"ETS2","category":null,"name":null,"description":"Euro Truck Simulator 2 - Renault Trucks T Tuning Pack","status":"Purchased"}]}}}}},"examples":{"Example":{"value":{"ETS2":{"Map expansion":{"Purchased":[{"app_id":227310,"game":"ETS2","category":"Map expansion","name":"going_east","description":"Euro Truck Simulator 2 - Going East!","status":"Purchased"},{"app_id":304212,"game":"ETS2","category":"Map expansion","name":"scandinavia","description":"Euro Truck Simulator 2 - Scandinavia","status":"Purchased"},{"app_id":558244,"game":"ETS2","category":"Map expansion","name":"italia","description":"Euro Truck Simulator 2 - Italia","status":"Purchased"},{"app_id":1209460,"game":"ETS2","category":"Map expansion","name":"iberia","description":"Euro Truck Simulator 2 - Iberia","status":"Purchased"},{"app_id":1056760,"game":"ETS2","category":"Map expansion","name":"road_to_the_black_sea","description":"Euro Truck Simulator 2 - Road to the Black Sea","status":"Purchased"},{"app_id":531130,"game":"ETS2","category":"Map expansion","name":"vive_la_france_","description":"Euro Truck Simulator 2 - Vive la France !","status":"Purchased"},{"app_id":925580,"game":"ETS2","category":"Map expansion","name":"beyond_the_baltic_sea","description":"Euro Truck Simulator 2 - Beyond the Baltic Sea","status":"Purchased"}]},"Paint jobs":{"Purchased":[{"app_id":266930,"game":"ETS2","category":"Paint jobs","name":"ice_cold_paint_jobs_pack","description":"Euro Truck Simulator 2 - Ice Cold Paint Jobs Pack","status":"Purchased"},{"app_id":292320,"game":"ETS2","category":"Paint jobs","name":"force_of_nature_paint_jobs_pack","description":"Euro Truck Simulator 2 - Force of Nature Paint Jobs Pack","status":"Purchased"},{"app_id":297793,"game":"ETS2","category":"Paint jobs","name":"scottish_paint_jobs_pack","description":"Euro Truck Simulator 2 - Scottish Paint Jobs Pack","status":"Purchased"},{"app_id":304020,"game":"ETS2","category":"Paint jobs","name":"polish_paint_jobs_pack","description":"Euro Truck Simulator 2 - Polish Paint Jobs Pack","status":"Purchased"},{"app_id":318520,"game":"ETS2","category":"Paint jobs","name":"christmas_paint_jobs_pack","description":"Euro Truck Simulator 2 - Christmas Paint Jobs Pack","status":"Purchased"},{"app_id":347190,"game":"ETS2","category":"Paint jobs","name":"norwegian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Norwegian Paint Jobs Pack","status":"Purchased"},{"app_id":347213,"game":"ETS2","category":"Paint jobs","name":"russian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Russian Paint Jobs Pack","status":"Purchased"},{"app_id":461241,"game":"ETS2","category":"Paint jobs","name":"spanish_paint_jobs_pack","description":"Euro Truck Simulator 2 - Spanish Paint Jobs Pack","status":"Purchased"},{"app_id":461243,"game":"ETS2","category":"Paint jobs","name":"austrian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Austrian Paint Jobs Pack","status":"Purchased"},{"app_id":461247,"game":"ETS2","category":"Paint jobs","name":"chinese_paint_jobs_pack","description":"Euro Truck Simulator 2 - Chinese Paint Jobs Pack","status":"Purchased"},{"app_id":540720,"game":"ETS2","category":"Paint jobs","name":"finnish_paint_jobs_pack","description":"Euro Truck Simulator 2 - Finnish Paint Jobs Pack","status":"Purchased"},{"app_id":558240,"game":"ETS2","category":"Paint jobs","name":"dragon_truck_design_pack","description":"Euro Truck Simulator 2 - Dragon Truck Design Pack","status":"Purchased"},{"app_id":876980,"game":"ETS2","category":"Paint jobs","name":"portuguese_paint_jobs_pack","description":"Euro Truck Simulator 2 - Portuguese Paint Jobs Pack","status":"Purchased"},{"app_id":258460,"game":"ETS2","category":"Paint jobs","name":"halloween_paint_jobs_pack","description":"Euro Truck Simulator 2 - Halloween Paint Jobs Pack","status":"Purchased"},{"app_id":297790,"game":"ETS2","category":"Paint jobs","name":"metallic_paint_jobs_pack","description":"Euro Truck Simulator 2 - Metallic Paint Jobs Pack","status":"Purchased"},{"app_id":297792,"game":"ETS2","category":"Paint jobs","name":"irish_paint_jobs_pack","description":"Euro Truck Simulator 2 - Irish Paint Jobs Pack","status":"Purchased"},{"app_id":304140,"game":"ETS2","category":"Paint jobs","name":"brazilian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Brazilian Paint Jobs Pack","status":"Purchased"},{"app_id":304211,"game":"ETS2","category":"Paint jobs","name":"usa_paint_jobs_pack","description":"Euro Truck Simulator 2 - USA Paint Jobs Pack","status":"Purchased"},{"app_id":318500,"game":"ETS2","category":"Paint jobs","name":"german_paint_jobs_pack","description":"Euro Truck Simulator 2 - German Paint Jobs Pack","status":"Purchased"},{"app_id":318511,"game":"ETS2","category":"Paint jobs","name":"czech_paint_jobs_pack","description":"Euro Truck Simulator 2 - Czech Paint Jobs Pack","status":"Purchased"},{"app_id":347210,"game":"ETS2","category":"Paint jobs","name":"danish_paint_jobs_pack","description":"Euro Truck Simulator 2 - Danish Paint Jobs Pack","status":"Purchased"},{"app_id":347212,"game":"ETS2","category":"Paint jobs","name":"viking_legends","description":"Euro Truck Simulator 2 - Viking Legends","status":"Purchased"},{"app_id":388472,"game":"ETS2","category":"Paint jobs","name":"japanese_paint_jobs_pack","description":"Euro Truck Simulator 2 - Japanese Paint Jobs Pack","status":"Purchased"},{"app_id":388474,"game":"ETS2","category":"Paint jobs","name":"turkish_paint_jobs_pack","description":"Euro Truck Simulator 2 - Turkish Paint Jobs Pack","status":"Purchased"},{"app_id":461240,"game":"ETS2","category":"Paint jobs","name":"slovak_paint_jobs_pack","description":"Euro Truck Simulator 2 - Slovak Paint Jobs Pack","status":"Purchased"},{"app_id":461246,"game":"ETS2","category":"Paint jobs","name":"swiss_paint_jobs_pack","description":"Euro Truck Simulator 2 - Swiss Paint Jobs Pack","status":"Purchased"},{"app_id":526950,"game":"ETS2","category":"Paint jobs","name":"lunar_new_year_pack","description":"Euro Truck Simulator 2 - Lunar New Year Pack","status":"Purchased"},{"app_id":558241,"game":"ETS2","category":"Paint jobs","name":"romanian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Romanian Paint Jobs Pack","status":"Purchased"},{"app_id":558243,"game":"ETS2","category":"Paint jobs","name":"valentines_paint_jobs_pack","description":"Euro Truck Simulator 2 - Valentines Paint Jobs Pack","status":"Purchased"},{"app_id":909640,"game":"ETS2","category":"Paint jobs","name":"dutch_paint_jobs_pack","description":"Euro Truck Simulator 2 - Dutch Paint Jobs Pack","status":"Purchased"},{"app_id":925650,"game":"ETS2","category":"Paint jobs","name":"space_paint_jobs_pack","description":"Euro Truck Simulator 2 - Space Paint Jobs Pack","status":"Purchased"},{"app_id":980591,"game":"ETS2","category":"Paint jobs","name":"latvian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Latvian Paint Jobs Pack","status":"Purchased"},{"app_id":266931,"game":"ETS2","category":"Paint jobs","name":"prehistoric_paint_jobs_pack","description":"Euro Truck Simulator 2 - Prehistoric Paint Jobs Pack","status":"Purchased"},{"app_id":297791,"game":"ETS2","category":"Paint jobs","name":"uk_paint_jobs_pack","description":"Euro Truck Simulator 2 - UK Paint Jobs Pack","status":"Purchased"},{"app_id":301180,"game":"ETS2","category":"Paint jobs","name":"flip_paint_designs","description":"Euro Truck Simulator 2 - Flip Paint Designs","status":"Purchased"},{"app_id":304210,"game":"ETS2","category":"Paint jobs","name":"fantasy_paint_jobs_pack","description":"Euro Truck Simulator 2 - Fantasy Paint Jobs Pack","status":"Purchased"},{"app_id":304213,"game":"ETS2","category":"Paint jobs","name":"canadian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Canadian Paint Jobs Pack","status":"Purchased"},{"app_id":318510,"game":"ETS2","category":"Paint jobs","name":"french_paint_jobs_pack","description":"Euro Truck Simulator 2 - French Paint Jobs Pack","status":"Purchased"},{"app_id":318521,"game":"ETS2","category":"Paint jobs","name":"raven_truck_design_pack","description":"Euro Truck Simulator 2 - Raven Truck Design Pack","status":"Purchased"},{"app_id":347211,"game":"ETS2","category":"Paint jobs","name":"swedish_paint_jobs_pack","description":"Euro Truck Simulator 2 - Swedish Paint Jobs Pack","status":"Purchased"},{"app_id":388476,"game":"ETS2","category":"Paint jobs","name":"italian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Italian Paint Jobs Pack","status":"Purchased"},{"app_id":388479,"game":"ETS2","category":"Paint jobs","name":"hungarian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Hungarian Paint Jobs Pack","status":"Purchased"},{"app_id":461245,"game":"ETS2","category":"Paint jobs","name":"south_korean_paint_jobs_pack","description":"Euro Truck Simulator 2 - South Korean Paint Jobs Pack","status":"Purchased"},{"app_id":461248,"game":"ETS2","category":"Paint jobs","name":"pirate_paint_jobs_pack","description":"Euro Truck Simulator 2 - Pirate Paint Jobs Pack","status":"Purchased"},{"app_id":540721,"game":"ETS2","category":"Paint jobs","name":"belgian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Belgian Paint Jobs Pack","status":"Purchased"},{"app_id":558242,"game":"ETS2","category":"Paint jobs","name":"australian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Australian Paint Jobs Pack","status":"Purchased"},{"app_id":980590,"game":"ETS2","category":"Paint jobs","name":"estonian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Estonian Paint Jobs Pack","status":"Purchased"},{"app_id":980592,"game":"ETS2","category":"Paint jobs","name":"lithuanian_paint_jobs_pack","description":"Euro Truck Simulator 2 - Lithuanian Paint Jobs Pack","status":"Purchased"}]},"Trailer pack":{"Purchased":[{"app_id":304214,"game":"ETS2","category":"Trailer pack","name":"high_power_cargo_pack","description":"Euro Truck Simulator 2 - High Power Cargo Pack","status":"Purchased"},{"app_id":388477,"game":"ETS2","category":"Trailer pack","name":"schwarzmuller_trailer_pack","description":"Euro Truck Simulator 2 - Schwarzmüller Trailer Pack","status":"Purchased"},{"app_id":933610,"game":"ETS2","category":"Trailer pack","name":"krone_trailer_pack","description":"Euro Truck Simulator 2 - Krone Trailer Pack","status":"Purchased"},{"app_id":531131,"game":"ETS2","category":"Trailer pack","name":"heavy_cargo_pack","description":"Euro Truck Simulator 2 - Heavy Cargo Pack","status":"Purchased"},{"app_id":558245,"game":"ETS2","category":"Trailer pack","name":"special_transport","description":"Euro Truck Simulator 2 - Special Transport","status":"Purchased"}]},"Accessories":{"Purchased":[{"app_id":388471,"game":"ETS2","category":"Accessories","name":"michelin_fan_pack","description":"Euro Truck Simulator 2 - Michelin Fan Pack","status":"Purchased"},{"app_id":388475,"game":"ETS2","category":"Accessories","name":"wheel_tuning_pack","description":"Euro Truck Simulator 2 - Wheel Tuning Pack","status":"Purchased"},{"app_id":461249,"game":"ETS2","category":"Accessories","name":"xf_tuning_pack","description":"Euro Truck Simulator 2 - XF Tuning Pack","status":"Purchased"},{"app_id":1056761,"game":"ETS2","category":"Accessories","name":"actros_tuning_pack","description":"Euro Truck Simulator 2 - Actros Tuning Pack","status":"Purchased"},{"app_id":461244,"game":"ETS2","category":"Accessories","name":"mighty_griffin_tuning_pack","description":"Euro Truck Simulator 2 - Mighty Griffin Tuning Pack","status":"Purchased"},{"app_id":1209461,"game":"ETS2","category":"Accessories","name":"hs-schoch_tuning_pack","description":"Euro Truck Simulator 2 - HS-Schoch Tuning Pack","status":"Purchased"},{"app_id":388470,"game":"ETS2","category":"Accessories","name":"cabin_accessories","description":"Euro Truck Simulator 2 - Cabin Accessories","status":"Purchased"},{"app_id":461242,"game":"ETS2","category":"Accessories","name":"window_flags","description":"Euro Truck Simulator 2 - Window Flags","status":"Purchased"},{"app_id":1117140,"game":"ETS2","category":"Accessories","name":"goodyear_tyres_pack","description":"Euro Truck Simulator 2 - Goodyear Tyres Pack","status":"Purchased"},{"app_id":1299530,"game":"ETS2","category":"Accessories","name":"fh_tuning_pack","description":"Euro Truck Simulator 2 - FH Tuning Pack","status":"Purchased"}]},"Truck pack":{"Purchased":[{"app_id":1650650,"game":"ETS2","category":"Truck pack","name":"daf_xg/xg+","description":"Euro Truck Simulator 2 - DAF XG/XG+","status":"Purchased"}]},"Unsorted":{"Purchased":[{"app_id":388478,"game":"ETS2","category":"Unsorted","name":"rocket_league_promo","description":"Euro Truck Simulator 2 - Rocket League Promo","status":"Purchased"},{"app_id":388473,"game":"ETS2","category":"Unsorted","name":"pc_gamer_dlc","description":"Euro Truck Simulator 2 - PC Gamer DLC","status":"Purchased"}]},"null":{"Purchased":[{"app_id":1967640,"game":"ETS2","category":null,"name":null,"description":"Euro Truck Simulator 2 - Renault Trucks T Tuning Pack","status":"Purchased"}]}}}}}}}},"404":{"$ref":"#/components/responses/User-not-found"}},"operationId":"get-user-steam_id-dlc","x-stoplight":{"id":"qpe4blh0hlmxy"},"description":""}},"/user/{steam_id}/jobs":{"parameters":[{"$ref":"#/components/parameters/steam_id"}],"get":{"summary":"User jobs","tags":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"job_id":{"type":"integer"},"vtc_id":{"type":"integer"},"departure_year":{"type":"integer"},"departure_month":{"type":"integer"},"departure_day":{"type":"integer"},"arrival_year":{"type":"integer"},"arrival_month":{"type":"integer"},"arrival_day":{"type":"integer"},"departure_city_id":{"type":"string"},"departure_company_id":{"type":"string"},"arrival_city_id":{"type":"string"},"arrival_company_id":{"type":"string"},"market_id":{"type":"string"},"cargo_id":{"type":"string"},"cargo_mass":{"type":"string"},"distance_client":{"type":"integer"},"fuel_used":{"type":"integer"},"adblue_used":{"type":"integer"},"truck_cabin_damage":{"type":"string"},"truck_chassis_damage":{"type":"string"},"truck_engine_damage":{"type":"string"},"truck_transmission_damage":{"type":"string"},"truck_wheels_damage":{"type":"string"},"trailers_chassis_damage":{"type":"string"},"trailers_wheels_damage":{"type":"string"},"trailer_cargo_damage":{"type":"string"},"trailers_body_damage":{"type":"string"},"income_distance":{"type":"integer"},"income_weight":{"type":"integer"},"income_adr":{"type":"integer"},"income_high_value":{"type":"integer"},"income_fragile":{"type":"integer"},"income_police":{"type":"integer"},"income_auto_park":{"type":"integer"},"income_auto_load":{"type":"integer"},"expense_fuel":{"type":"integer"},"expense_truck_cabin":{"type":"integer"},"expense_truck_engine":{"type":"integer"},"expense_truck_transmission":{"type":"integer"},"expense_truck_wheels":{"type":"integer"},"expense_trailer_chassis":{"type":"integer"},"expense_trailer_wheels":{"type":"integer"},"expense_trailer_cargo":{"type":"integer"},"expense_ferry":{"type":"integer"},"expense_train":{"type":"integer"},"expense_toll":{"type":"integer"},"expense_adblue":{"type":"integer"},"expense_truck_wear_engine":{"type":"integer"},"expense_truck_wear_transmission":{"type":"integer"},"expense_truck_wear_wheels":{"type":"integer"},"expense_trailer_wear_wheels":{"type":"integer"},"game":{"type":"string"},"truck_id":{"type":"string"},"expense_adr":{"type":"integer"},"expense_high_value":{"type":"integer"},"expense_fines":{"type":"integer"},"income":{"type":"integer"},"expense":{"type":"integer"},"profit":{"type":"integer"}}}},"hasMore":{"type":"boolean"},"nextID":{"type":"integer"}},"x-examples":{"Example 1":{"data":[{"job_id":679320,"vtc_id":5622,"departure_year":0,"departure_month":3,"departure_day":12,"arrival_year":2023,"arrival_month":3,"arrival_day":12,"departure_city_id":"esbjerg","departure_company_id":"cont_port","arrival_city_id":"uppsala","arrival_company_id":"drekkar","market_id":"cargo_market","cargo_id":"beverages","cargo_mass":"37783.703125","distance_client":947,"fuel_used":411,"adblue_used":21,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":1401,"income_weight":529,"income_adr":0,"income_high_value":0,"income_fragile":126,"income_police":84,"income_auto_park":79,"income_auto_load":0,"expense_fuel":519,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":24,"expense_truck_wear_engine":26,"expense_truck_wear_transmission":30,"expense_truck_wear_wheels":52,"expense_trailer_wear_wheels":62,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":1114,"income":2919,"expense":1827,"profit":1092},{"job_id":681486,"vtc_id":5622,"departure_year":0,"departure_month":3,"departure_day":18,"arrival_year":2023,"arrival_month":3,"arrival_day":18,"departure_city_id":"uppsala","departure_company_id":"gnt","arrival_city_id":"vaxjo","arrival_company_id":"drekkar","market_id":"freight_market","cargo_id":"roofing_felt","cargo_mass":"30867.201172","distance_client":468,"fuel_used":228,"adblue_used":11,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":692,"income_weight":213,"income_adr":0,"income_high_value":0,"income_fragile":41,"income_police":41,"income_auto_park":19,"income_auto_load":0,"expense_fuel":288,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":12,"expense_truck_wear_engine":13,"expense_truck_wear_transmission":15,"expense_truck_wear_wheels":25,"expense_trailer_wear_wheels":0,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":1352,"expense":353,"profit":999},{"job_id":681573,"vtc_id":5622,"departure_year":0,"departure_month":3,"departure_day":18,"arrival_year":2023,"arrival_month":3,"arrival_day":18,"departure_city_id":"jonkoping","departure_company_id":"aria_food","arrival_city_id":"trelleborg","arrival_company_id":"aria_food","market_id":"cargo_market","cargo_id":"live_cattle","cargo_mass":"5680.000000","distance_client":393,"fuel_used":150,"adblue_used":8,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":581,"income_weight":33,"income_adr":0,"income_high_value":0,"income_fragile":0,"income_police":34,"income_auto_park":13,"income_auto_load":13,"expense_fuel":189,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":9,"expense_truck_wear_engine":11,"expense_truck_wear_transmission":12,"expense_truck_wear_wheels":21,"expense_trailer_wear_wheels":12,"game":"ETS2","truck_id":"man","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":964,"expense":254,"profit":710},{"job_id":681818,"vtc_id":5622,"departure_year":0,"departure_month":3,"departure_day":18,"arrival_year":2023,"arrival_month":3,"arrival_day":18,"departure_city_id":"aalborg","departure_company_id":"ns_oil","arrival_city_id":"oslo","arrival_company_id":"ns_oil","market_id":"cargo_market","cargo_id":"propane","cargo_mass":"19720.000000","distance_client":169,"fuel_used":83,"adblue_used":4,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"3.60","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"2.88","income_distance":250,"income_weight":49,"income_adr":0,"income_high_value":0,"income_fragile":0,"income_police":15,"income_auto_park":2,"income_auto_load":2,"expense_fuel":104,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":540,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":288,"expense_train":0,"expense_toll":0,"expense_adblue":4,"expense_truck_wear_engine":4,"expense_truck_wear_transmission":5,"expense_truck_wear_wheels":9,"expense_trailer_wear_wheels":5,"game":"ETS2","truck_id":"man","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":443,"expense":959,"profit":-516},{"job_id":685814,"vtc_id":5622,"departure_year":0,"departure_month":3,"departure_day":27,"arrival_year":2023,"arrival_month":3,"arrival_day":27,"departure_city_id":"windfield","departure_company_id":"gu_express","arrival_city_id":"libertybay","arrival_company_id":"bigals","market_id":"freight_market","cargo_id":"potatoes","cargo_mass":"22159.500000","distance_client":376,"fuel_used":156,"adblue_used":8,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":556,"income_weight":123,"income_adr":0,"income_high_value":0,"income_fragile":16,"income_police":33,"income_auto_park":12,"income_auto_load":0,"expense_fuel":197,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":9,"expense_truck_wear_engine":10,"expense_truck_wear_transmission":12,"expense_truck_wear_wheels":20,"expense_trailer_wear_wheels":0,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":1018,"expense":248,"profit":770},{"job_id":685889,"vtc_id":5622,"departure_year":0,"departure_month":3,"departure_day":28,"arrival_year":2023,"arrival_month":3,"arrival_day":28,"departure_city_id":"windfield","departure_company_id":"ika_bohag","arrival_city_id":"tworivers","arrival_company_id":"mammouth","market_id":"freight_market","cargo_id":"empty_palet","cargo_mass":"22073.701172","distance_client":364,"fuel_used":304,"adblue_used":15,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":538,"income_weight":118,"income_adr":0,"income_high_value":0,"income_fragile":8,"income_police":32,"income_auto_park":0,"income_auto_load":0,"expense_fuel":384,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":17,"expense_truck_wear_engine":10,"expense_truck_wear_transmission":11,"expense_truck_wear_wheels":12,"expense_trailer_wear_wheels":0,"game":"ETS2","truck_id":"man","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":965,"expense":434,"profit":531},{"job_id":746388,"vtc_id":0,"departure_year":0,"departure_month":7,"departure_day":5,"arrival_year":2023,"arrival_month":7,"arrival_day":5,"departure_city_id":"dortmund","departure_company_id":"transinet","arrival_city_id":"sodertalje","arrival_company_id":"scania_fac","market_id":"cargo_market","cargo_id":"beverages_c","cargo_mass":"32793.402344","distance_client":1372,"fuel_used":481,"adblue_used":24,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":1719,"income_weight":206,"income_adr":0,"income_high_value":0,"income_fragile":283,"income_police":102,"income_auto_park":220,"income_auto_load":0,"expense_fuel":716,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":25,"expense_truck_wear_engine":32,"expense_truck_wear_transmission":27,"expense_truck_wear_wheels":75,"expense_trailer_wear_wheels":90,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":296,"income":4383,"expense":1261,"profit":3122},{"job_id":746768,"vtc_id":0,"departure_year":0,"departure_month":7,"departure_day":6,"arrival_year":2023,"arrival_month":7,"arrival_day":6,"departure_city_id":"stockholm","departure_company_id":"norrsken","arrival_city_id":"dortmund","arrival_company_id":"kaarfor","market_id":"cargo_market","cargo_id":"nitrogen","cargo_mass":"10800.000000","distance_client":1382,"fuel_used":345,"adblue_used":17,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":1731,"income_weight":68,"income_adr":315,"income_high_value":0,"income_fragile":0,"income_police":102,"income_auto_park":220,"income_auto_load":0,"expense_fuel":513,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":17,"expense_truck_wear_engine":32,"expense_truck_wear_transmission":27,"expense_truck_wear_wheels":76,"expense_trailer_wear_wheels":91,"game":"ETS2","truck_id":"daf","expense_adr":0,"expense_high_value":0,"expense_fines":198,"income":4284,"expense":954,"profit":3330},{"job_id":747834,"vtc_id":5622,"departure_year":0,"departure_month":7,"departure_day":8,"arrival_year":2023,"arrival_month":7,"arrival_day":8,"departure_city_id":"dortmund","departure_company_id":"transinet","arrival_city_id":"munchen","arrival_company_id":"bcp","market_id":"cargo_market","cargo_id":"beverages_c","cargo_mass":"32793.402344","distance_client":352,"fuel_used":144,"adblue_used":7,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":0,"income_weight":0,"income_adr":0,"income_high_value":0,"income_fragile":0,"income_police":0,"income_auto_park":0,"income_auto_load":0,"expense_fuel":214,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":7,"expense_truck_wear_engine":8,"expense_truck_wear_transmission":7,"expense_truck_wear_wheels":19,"expense_trailer_wear_wheels":23,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":0,"expense":278,"profit":-278},{"job_id":747859,"vtc_id":5622,"departure_year":0,"departure_month":7,"departure_day":8,"arrival_year":2023,"arrival_month":7,"arrival_day":8,"departure_city_id":"dortmund","departure_company_id":"transinet","arrival_city_id":"kassel","arrival_company_id":"tradeaux","market_id":"freight_market","cargo_id":"basil","cargo_mass":"18890.000000","distance_client":170,"fuel_used":77,"adblue_used":4,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":213,"income_weight":17,"income_adr":0,"income_high_value":0,"income_fragile":22,"income_police":14,"income_auto_park":32,"income_auto_load":0,"expense_fuel":114,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":4,"expense_truck_wear_engine":3,"expense_truck_wear_transmission":3,"expense_truck_wear_wheels":9,"expense_trailer_wear_wheels":0,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":605,"expense":133,"profit":472}],"hasMore":true,"nextID":750859}}},"examples":{"Example":{"value":{"data":[{"job_id":679320,"vtc_id":5622,"departure_year":0,"departure_month":3,"departure_day":12,"arrival_year":2023,"arrival_month":3,"arrival_day":12,"departure_city_id":"esbjerg","departure_company_id":"cont_port","arrival_city_id":"uppsala","arrival_company_id":"drekkar","market_id":"cargo_market","cargo_id":"beverages","cargo_mass":"37783.703125","distance_client":947,"fuel_used":411,"adblue_used":21,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":1401,"income_weight":529,"income_adr":0,"income_high_value":0,"income_fragile":126,"income_police":84,"income_auto_park":79,"income_auto_load":0,"expense_fuel":519,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":24,"expense_truck_wear_engine":26,"expense_truck_wear_transmission":30,"expense_truck_wear_wheels":52,"expense_trailer_wear_wheels":62,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":1114,"income":2919,"expense":1827,"profit":1092},{"job_id":681486,"vtc_id":5622,"departure_year":0,"departure_month":3,"departure_day":18,"arrival_year":2023,"arrival_month":3,"arrival_day":18,"departure_city_id":"uppsala","departure_company_id":"gnt","arrival_city_id":"vaxjo","arrival_company_id":"drekkar","market_id":"freight_market","cargo_id":"roofing_felt","cargo_mass":"30867.201172","distance_client":468,"fuel_used":228,"adblue_used":11,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":692,"income_weight":213,"income_adr":0,"income_high_value":0,"income_fragile":41,"income_police":41,"income_auto_park":19,"income_auto_load":0,"expense_fuel":288,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":12,"expense_truck_wear_engine":13,"expense_truck_wear_transmission":15,"expense_truck_wear_wheels":25,"expense_trailer_wear_wheels":0,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":1352,"expense":353,"profit":999},{"job_id":681573,"vtc_id":5622,"departure_year":0,"departure_month":3,"departure_day":18,"arrival_year":2023,"arrival_month":3,"arrival_day":18,"departure_city_id":"jonkoping","departure_company_id":"aria_food","arrival_city_id":"trelleborg","arrival_company_id":"aria_food","market_id":"cargo_market","cargo_id":"live_cattle","cargo_mass":"5680.000000","distance_client":393,"fuel_used":150,"adblue_used":8,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":581,"income_weight":33,"income_adr":0,"income_high_value":0,"income_fragile":0,"income_police":34,"income_auto_park":13,"income_auto_load":13,"expense_fuel":189,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":9,"expense_truck_wear_engine":11,"expense_truck_wear_transmission":12,"expense_truck_wear_wheels":21,"expense_trailer_wear_wheels":12,"game":"ETS2","truck_id":"man","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":964,"expense":254,"profit":710},{"job_id":681818,"vtc_id":5622,"departure_year":0,"departure_month":3,"departure_day":18,"arrival_year":2023,"arrival_month":3,"arrival_day":18,"departure_city_id":"aalborg","departure_company_id":"ns_oil","arrival_city_id":"oslo","arrival_company_id":"ns_oil","market_id":"cargo_market","cargo_id":"propane","cargo_mass":"19720.000000","distance_client":169,"fuel_used":83,"adblue_used":4,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"3.60","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"2.88","income_distance":250,"income_weight":49,"income_adr":0,"income_high_value":0,"income_fragile":0,"income_police":15,"income_auto_park":2,"income_auto_load":2,"expense_fuel":104,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":540,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":288,"expense_train":0,"expense_toll":0,"expense_adblue":4,"expense_truck_wear_engine":4,"expense_truck_wear_transmission":5,"expense_truck_wear_wheels":9,"expense_trailer_wear_wheels":5,"game":"ETS2","truck_id":"man","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":443,"expense":959,"profit":-516},{"job_id":685814,"vtc_id":5622,"departure_year":0,"departure_month":3,"departure_day":27,"arrival_year":2023,"arrival_month":3,"arrival_day":27,"departure_city_id":"windfield","departure_company_id":"gu_express","arrival_city_id":"libertybay","arrival_company_id":"bigals","market_id":"freight_market","cargo_id":"potatoes","cargo_mass":"22159.500000","distance_client":376,"fuel_used":156,"adblue_used":8,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":556,"income_weight":123,"income_adr":0,"income_high_value":0,"income_fragile":16,"income_police":33,"income_auto_park":12,"income_auto_load":0,"expense_fuel":197,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":9,"expense_truck_wear_engine":10,"expense_truck_wear_transmission":12,"expense_truck_wear_wheels":20,"expense_trailer_wear_wheels":0,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":1018,"expense":248,"profit":770},{"job_id":685889,"vtc_id":5622,"departure_year":0,"departure_month":3,"departure_day":28,"arrival_year":2023,"arrival_month":3,"arrival_day":28,"departure_city_id":"windfield","departure_company_id":"ika_bohag","arrival_city_id":"tworivers","arrival_company_id":"mammouth","market_id":"freight_market","cargo_id":"empty_palet","cargo_mass":"22073.701172","distance_client":364,"fuel_used":304,"adblue_used":15,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":538,"income_weight":118,"income_adr":0,"income_high_value":0,"income_fragile":8,"income_police":32,"income_auto_park":0,"income_auto_load":0,"expense_fuel":384,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":17,"expense_truck_wear_engine":10,"expense_truck_wear_transmission":11,"expense_truck_wear_wheels":12,"expense_trailer_wear_wheels":0,"game":"ETS2","truck_id":"man","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":965,"expense":434,"profit":531},{"job_id":746388,"vtc_id":0,"departure_year":0,"departure_month":7,"departure_day":5,"arrival_year":2023,"arrival_month":7,"arrival_day":5,"departure_city_id":"dortmund","departure_company_id":"transinet","arrival_city_id":"sodertalje","arrival_company_id":"scania_fac","market_id":"cargo_market","cargo_id":"beverages_c","cargo_mass":"32793.402344","distance_client":1372,"fuel_used":481,"adblue_used":24,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":1719,"income_weight":206,"income_adr":0,"income_high_value":0,"income_fragile":283,"income_police":102,"income_auto_park":220,"income_auto_load":0,"expense_fuel":716,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":25,"expense_truck_wear_engine":32,"expense_truck_wear_transmission":27,"expense_truck_wear_wheels":75,"expense_trailer_wear_wheels":90,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":296,"income":4383,"expense":1261,"profit":3122},{"job_id":746768,"vtc_id":0,"departure_year":0,"departure_month":7,"departure_day":6,"arrival_year":2023,"arrival_month":7,"arrival_day":6,"departure_city_id":"stockholm","departure_company_id":"norrsken","arrival_city_id":"dortmund","arrival_company_id":"kaarfor","market_id":"cargo_market","cargo_id":"nitrogen","cargo_mass":"10800.000000","distance_client":1382,"fuel_used":345,"adblue_used":17,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":1731,"income_weight":68,"income_adr":315,"income_high_value":0,"income_fragile":0,"income_police":102,"income_auto_park":220,"income_auto_load":0,"expense_fuel":513,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":17,"expense_truck_wear_engine":32,"expense_truck_wear_transmission":27,"expense_truck_wear_wheels":76,"expense_trailer_wear_wheels":91,"game":"ETS2","truck_id":"daf","expense_adr":0,"expense_high_value":0,"expense_fines":198,"income":4284,"expense":954,"profit":3330},{"job_id":747834,"vtc_id":5622,"departure_year":0,"departure_month":7,"departure_day":8,"arrival_year":2023,"arrival_month":7,"arrival_day":8,"departure_city_id":"dortmund","departure_company_id":"transinet","arrival_city_id":"munchen","arrival_company_id":"bcp","market_id":"cargo_market","cargo_id":"beverages_c","cargo_mass":"32793.402344","distance_client":352,"fuel_used":144,"adblue_used":7,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":0,"income_weight":0,"income_adr":0,"income_high_value":0,"income_fragile":0,"income_police":0,"income_auto_park":0,"income_auto_load":0,"expense_fuel":214,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":7,"expense_truck_wear_engine":8,"expense_truck_wear_transmission":7,"expense_truck_wear_wheels":19,"expense_trailer_wear_wheels":23,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":0,"expense":278,"profit":-278},{"job_id":747859,"vtc_id":5622,"departure_year":0,"departure_month":7,"departure_day":8,"arrival_year":2023,"arrival_month":7,"arrival_day":8,"departure_city_id":"dortmund","departure_company_id":"transinet","arrival_city_id":"kassel","arrival_company_id":"tradeaux","market_id":"freight_market","cargo_id":"basil","cargo_mass":"18890.000000","distance_client":170,"fuel_used":77,"adblue_used":4,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":213,"income_weight":17,"income_adr":0,"income_high_value":0,"income_fragile":22,"income_police":14,"income_auto_park":32,"income_auto_load":0,"expense_fuel":114,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":4,"expense_truck_wear_engine":3,"expense_truck_wear_transmission":3,"expense_truck_wear_wheels":9,"expense_trailer_wear_wheels":0,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":605,"expense":133,"profit":472}],"hasMore":true,"nextID":750859}}}}}},"404":{"$ref":"#/components/responses/User-not-found"}},"operationId":"get-user-steam_id-jobs","x-stoplight":{"id":"gl98qo543wczw"},"parameters":[{"schema":{"type":"integer"},"in":"query","name":"after","description":"job_id number. Use last one of your current request."},{"schema":{"type":"integer","minimum":1,"maximum":10,"default":10},"in":"query","name":"limit","description":"Amount of results on a result"}]}},"/vtc/{vtc_id}":{"parameters":[{"$ref":"#/components/parameters/vtc_id"}],"get":{"summary":"VTC Info","tags":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"vtc_id":{"type":"integer"},"name":{"type":"string"},"avatar":{"type":"string"},"cover":{"type":"string"},"financial":{"type":"object","properties":{"income":{"type":"integer"},"expense":{"type":"integer"},"profit":{"type":"integer"}}},"experience":{"type":"number"},"level":{"type":"integer"},"created_at":{"type":"string"},"updated_at":{"type":"string"}},"x-examples":{"Example 1":{"vtc_id":79,"name":"Euro Truckers Transport","avatar":"https://uploads.vtlog.net/vtc-avatar/79-1688778216.png","cover":"https://uploads.vtlog.net/vtc-cover/79-1660911063.jpeg","financial":{"income":1849575,"expense":557438,"profit":1292137},"experience":76049.48315,"level":18,"created_at":"2022-10-21T16:57:49.000Z","updated_at":"2023-07-08T01:03:36.000Z"}}},"examples":{"Example":{"value":{"vtc_id":0,"name":"string","avatar":"string","cover":"string","financial":{"income":0,"expense":0,"profit":0},"experience":0,"level":0,"created_at":"string","updated_at":"string"}}}}}},"404":{"description":"Not Found"}},"operationId":"get-vtc-vtc_id","x-stoplight":{"id":"rrq7olpkj9vf2"}}},"/vtc/{vtc_id}/members":{"parameters":[{"$ref":"#/components/parameters/vtc_id"}],"get":{"summary":"VTC Members","tags":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"steam_id":{"type":"string"},"avatar":{"type":"string"},"cover":{"type":"string"},"created_at":{"type":"string"},"member_since":{"type":"string"},"role":{"type":"string"}}},"x-examples":{"Example 1":[{"name":"Patjuh","steam_id":"76561198176157607","avatar":"https://uploads.vtlog.net/vtc-avatar/76561198176157607-1660909969.png","cover":"https://uploads.vtlog.net/vtc-cover/76561198176157607-1671281478.png","created_at":"2022-10-21T16:42:46.000Z","member_since":"2022-08-19T11:47:20.000Z","role":"Owner"},{"name":"Legacy","steam_id":"76561198300298686","avatar":"https://uploads.vtlog.net/vtc-avatar/76561198300298686-1688777545.png","cover":"https://uploads.vtlog.net/vtc-cover/76561198300298686-1688776660.jpeg","created_at":"2022-10-21T16:42:46.000Z","member_since":"2023-07-30T17:37:29.000Z","role":"VTC Admin"},{"name":"truckerteus","steam_id":"76561199027912521","avatar":"https://uploads.vtlog.net/vtc-avatar/null","cover":"https://uploads.vtlog.net/vtc-cover/null","created_at":"2022-12-29T15:03:42.000Z","member_since":"2023-04-12T12:31:33.000Z","role":"ETT-Driver"},{"name":"Shyva","steam_id":"76561198269210817","avatar":"https://uploads.vtlog.net/vtc-avatar/null","cover":"https://uploads.vtlog.net/vtc-cover/null","created_at":"2023-01-20T22:51:43.000Z","member_since":"2023-04-12T12:31:35.000Z","role":"ETT-Driver"},{"name":"Kilbil2","steam_id":"76561198151178082","avatar":"https://uploads.vtlog.net/vtc-avatar/null","cover":"https://uploads.vtlog.net/vtc-cover/null","created_at":"2023-01-23T02:40:28.000Z","member_since":"2023-04-12T12:31:41.000Z","role":"ETT-Driver"},{"name":"denbrakke","steam_id":"76561198820940541","avatar":"https://uploads.vtlog.net/vtc-avatar/76561198820940541-1688924964.png","cover":"https://uploads.vtlog.net/vtc-cover/76561198820940541-1688924998.jpeg","created_at":"2016-03-19T11:00:00.000Z","member_since":"2023-07-02T21:48:18.000Z","role":"ETT-Driver"},{"name":"Bartje","steam_id":"76561198389071825","avatar":"https://uploads.vtlog.net/vtc-avatar/null","cover":"https://uploads.vtlog.net/vtc-cover/null","created_at":"2023-03-10T14:36:15.000Z","member_since":"2023-07-26T10:58:04.000Z","role":"ETT-Driver"},{"name":"anton_bolleNL","steam_id":"76561198046697956","avatar":"https://uploads.vtlog.net/vtc-avatar/null","cover":"https://uploads.vtlog.net/vtc-cover/null","created_at":"2016-03-19T11:00:00.000Z","member_since":"2023-05-04T22:17:10.000Z","role":"ETT-Driver"},{"name":"pcsmurf","steam_id":"76561198279799213","avatar":"https://uploads.vtlog.net/vtc-avatar/76561198279799213-1691273258.png","cover":"https://uploads.vtlog.net/vtc-cover/76561198279799213-1691273278.jpeg","created_at":"2016-03-19T11:00:00.000Z","member_since":"2023-08-04T21:29:25.000Z","role":"ETT-Driver"},{"name":"PartyGamerXL","steam_id":"76561198396601405","avatar":"https://uploads.vtlog.net/vtc-avatar/null","cover":"https://uploads.vtlog.net/vtc-cover/null","created_at":"2022-12-12T21:42:02.000Z","member_since":"2023-04-12T12:31:20.000Z","role":"ETT-Driver"},{"name":"PiggyyNL","steam_id":"76561198143494291","avatar":"https://uploads.vtlog.net/vtc-avatar/null","cover":"https://uploads.vtlog.net/vtc-cover/null","created_at":"2016-03-19T11:00:00.000Z","member_since":"2022-11-10T17:01:24.000Z","role":"Driver"}]}},"examples":{"Example":{"value":[{"name":"string","steam_id":"string","avatar":"string","cover":"string","created_at":"string","member_since":"string","role":"string"}]}}}}},"404":{"$ref":"#/components/responses/Vtc-not-found"}},"operationId":"get-vtc-vtc_id-members","x-stoplight":{"id":"ltu1iyk5qby7n"}}},"/vtc/{vtc_id}/jobs":{"parameters":[{"schema":{"type":"string"},"name":"vtc_id","in":"path","required":true}],"get":{"summary":"Vtc jobs","tags":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"job_id":{"type":"integer"},"steam_id":{"type":"string"},"xp_earned":{"type":"integer"},"departure_year":{"type":"integer"},"departure_month":{"type":"integer"},"departure_day":{"type":"integer"},"arrival_year":{"type":"integer"},"arrival_month":{"type":"integer"},"arrival_day":{"type":"integer"},"departure_city_id":{"type":"string"},"departure_company_id":{"type":"string"},"arrival_city_id":{"type":"string"},"arrival_company_id":{"type":"string"},"market_id":{"type":"string"},"cargo_id":{"type":"string"},"cargo_mass":{"type":"string"},"distance_client":{"type":"integer"},"fuel_used":{"type":"integer"},"adblue_used":{"type":"integer"},"truck_cabin_damage":{"type":"string"},"truck_chassis_damage":{"type":"string"},"truck_engine_damage":{"type":"string"},"truck_transmission_damage":{"type":"string"},"truck_wheels_damage":{"type":"string"},"trailers_chassis_damage":{"type":"string"},"trailers_wheels_damage":{"type":"string"},"trailer_cargo_damage":{"type":"string"},"trailers_body_damage":{"type":"string"},"income_distance":{"type":"integer"},"income_weight":{"type":"integer"},"income_adr":{"type":"integer"},"income_high_value":{"type":"integer"},"income_fragile":{"type":"integer"},"income_police":{"type":"integer"},"income_auto_park":{"type":"integer"},"income_auto_load":{"type":"integer"},"expense_fuel":{"type":"integer"},"expense_truck_cabin":{"type":"integer"},"expense_truck_engine":{"type":"integer"},"expense_truck_transmission":{"type":"integer"},"expense_truck_wheels":{"type":"integer"},"expense_trailer_chassis":{"type":"integer"},"expense_trailer_wheels":{"type":"integer"},"expense_trailer_cargo":{"type":"integer"},"expense_ferry":{"type":"integer"},"expense_train":{"type":"integer"},"expense_toll":{"type":"integer"},"expense_adblue":{"type":"integer"},"expense_truck_wear_engine":{"type":"integer"},"expense_truck_wear_transmission":{"type":"integer"},"expense_truck_wear_wheels":{"type":"integer"},"expense_trailer_wear_wheels":{"type":"integer"},"game":{"type":"string"},"truck_id":{"type":"string"},"expense_adr":{"type":"integer"},"expense_high_value":{"type":"integer"},"expense_fines":{"type":"integer"},"income":{"type":"integer"},"expense":{"type":"integer"},"profit":{"type":"integer"}}}},"hasMore":{"type":"boolean"},"nextID":{"type":"integer"}},"x-examples":{"Example 1":{"data":[{"job_id":765479,"steam_id":"76561198042108497","xp_earned":0,"departure_year":2023,"departure_month":8,"departure_day":5,"arrival_year":2023,"arrival_month":8,"arrival_day":5,"departure_city_id":"berlin","departure_company_id":"bcp","arrival_city_id":"salzburg","arrival_company_id":"kolico","market_id":"cargo_market","cargo_id":"beverages","cargo_mass":"37783.703125","distance_client":650,"fuel_used":207,"adblue_used":10,"truck_cabin_damage":"1.710","truck_chassis_damage":"2.140","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"1.15","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":814,"income_weight":114,"income_adr":0,"income_high_value":0,"income_fragile":136,"income_police":15,"income_auto_park":76,"income_auto_load":0,"expense_fuel":308,"expense_truck_cabin":264,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":195,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":10,"expense_truck_wear_engine":15,"expense_truck_wear_transmission":13,"expense_truck_wear_wheels":21,"expense_trailer_wear_wheels":42,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":2098,"expense":1404,"profit":694},{"job_id":765918,"steam_id":"76561198042108497","xp_earned":0,"departure_year":2023,"departure_month":8,"departure_day":5,"arrival_year":2023,"arrival_month":8,"arrival_day":5,"departure_city_id":"salzburg","departure_company_id":"rt_log","arrival_city_id":"munchen","arrival_company_id":"bcp","market_id":"cargo_market","cargo_id":"ethane","cargo_mass":"21760.000000","distance_client":188,"fuel_used":58,"adblue_used":3,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":235,"income_weight":22,"income_adr":51,"income_high_value":0,"income_fragile":25,"income_police":5,"income_auto_park":25,"income_auto_load":25,"expense_fuel":86,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":3,"expense_truck_wear_engine":4,"expense_truck_wear_transmission":3,"expense_truck_wear_wheels":10,"expense_trailer_wear_wheels":6,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":723,"expense":112,"profit":611},{"job_id":765961,"steam_id":"76561198042108497","xp_earned":0,"departure_year":2023,"departure_month":8,"departure_day":5,"arrival_year":2023,"arrival_month":8,"arrival_day":5,"departure_city_id":"munchen","departure_company_id":"eurogoodies","arrival_city_id":"budapest","arrival_company_id":"nbfc","market_id":"cargo_market","cargo_id":"bottle_water","cargo_mass":"40115.703125","distance_client":723,"fuel_used":256,"adblue_used":13,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":905,"income_weight":132,"income_adr":0,"income_high_value":0,"income_fragile":65,"income_police":16,"income_auto_park":82,"income_auto_load":0,"expense_fuel":381,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":13,"expense_truck_wear_engine":16,"expense_truck_wear_transmission":14,"expense_truck_wear_wheels":39,"expense_trailer_wear_wheels":47,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":355,"income":2134,"expense":865,"profit":1269},{"job_id":766781,"steam_id":"76561198042108497","xp_earned":0,"departure_year":2023,"departure_month":8,"departure_day":6,"arrival_year":2023,"arrival_month":8,"arrival_day":6,"departure_city_id":"budapest","departure_company_id":"nbfc","arrival_city_id":"bacau","arrival_company_id":"brawen","market_id":"cargo_market","cargo_id":"precast_strs","cargo_mass":"35716.703125","distance_client":884,"fuel_used":465,"adblue_used":23,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":1107,"income_weight":175,"income_adr":0,"income_high_value":0,"income_fragile":36,"income_police":24,"income_auto_park":122,"income_auto_load":0,"expense_fuel":692,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":24,"expense_truck_wear_engine":20,"expense_truck_wear_transmission":17,"expense_truck_wear_wheels":48,"expense_trailer_wear_wheels":58,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":3101,"expense":859,"profit":2242},{"job_id":767063,"steam_id":"76561198042108497","xp_earned":0,"departure_year":2023,"departure_month":8,"departure_day":6,"arrival_year":2023,"arrival_month":8,"arrival_day":6,"departure_city_id":"bacau","departure_company_id":"brawen","arrival_city_id":"plovdiv","arrival_company_id":"sporklift","market_id":"cargo_market","cargo_id":"nonalco_beer","cargo_mass":"35584.203125","distance_client":843,"fuel_used":462,"adblue_used":23,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"2.52","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"2.02","income_distance":1056,"income_weight":178,"income_adr":0,"income_high_value":0,"income_fragile":150,"income_police":25,"income_auto_park":125,"income_auto_load":0,"expense_fuel":687,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":428,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":101,"expense_train":0,"expense_toll":0,"expense_adblue":24,"expense_truck_wear_engine":19,"expense_truck_wear_transmission":16,"expense_truck_wear_wheels":46,"expense_trailer_wear_wheels":55,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":3260,"expense":1376,"profit":1884},{"job_id":767095,"steam_id":"76561198042108497","xp_earned":0,"departure_year":2023,"departure_month":8,"departure_day":6,"arrival_year":2023,"arrival_month":8,"arrival_day":6,"departure_city_id":"plovdiv","departure_company_id":"ttk_bg","arrival_city_id":"pernik","arrival_company_id":"st_roza_bg","market_id":"cargo_market","cargo_id":"diesel","cargo_mass":"25500.000000","distance_client":254,"fuel_used":98,"adblue_used":5,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":318,"income_weight":40,"income_adr":79,"income_high_value":0,"income_fragile":39,"income_police":7,"income_auto_park":39,"income_auto_load":39,"expense_fuel":145,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":5,"expense_truck_wear_engine":5,"expense_truck_wear_transmission":5,"expense_truck_wear_wheels":8,"expense_trailer_wear_wheels":8,"game":"ETS2","truck_id":"man","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":1155,"expense":176,"profit":979},{"job_id":767346,"steam_id":"76561198042108497","xp_earned":0,"departure_year":2023,"departure_month":8,"departure_day":7,"arrival_year":2023,"arrival_month":8,"arrival_day":7,"departure_city_id":"pernik","departure_company_id":"st_roza_bg","arrival_city_id":"pirdop","arrival_company_id":"rock_eater","market_id":"cargo_market","cargo_id":"diesel","cargo_mass":"25500.000000","distance_client":354,"fuel_used":143,"adblue_used":7,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":443,"income_weight":49,"income_adr":97,"income_high_value":0,"income_fragile":48,"income_police":9,"income_auto_park":48,"income_auto_load":48,"expense_fuel":212,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":7,"expense_truck_wear_engine":8,"expense_truck_wear_transmission":7,"expense_truck_wear_wheels":11,"expense_trailer_wear_wheels":11,"game":"ETS2","truck_id":"man","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":1426,"expense":256,"profit":1170},{"job_id":767373,"steam_id":"76561198042108497","xp_earned":0,"departure_year":2023,"departure_month":8,"departure_day":7,"arrival_year":2023,"arrival_month":8,"arrival_day":7,"departure_city_id":"pirdop","departure_company_id":"rock_eater","arrival_city_id":"resita","arrival_company_id":"imp_otel","market_id":"cargo_market","cargo_id":"fuel_oil","cargo_mass":"25710.000000","distance_client":790,"fuel_used":317,"adblue_used":16,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":989,"income_weight":110,"income_adr":214,"income_high_value":0,"income_fragile":42,"income_police":21,"income_auto_park":107,"income_auto_load":107,"expense_fuel":472,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":16,"expense_truck_wear_engine":18,"expense_truck_wear_transmission":15,"expense_truck_wear_wheels":26,"expense_trailer_wear_wheels":26,"game":"ETS2","truck_id":"man","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":3043,"expense":573,"profit":2470},{"job_id":767484,"steam_id":"76561198042108497","xp_earned":0,"departure_year":2023,"departure_month":8,"departure_day":7,"arrival_year":2023,"arrival_month":8,"arrival_day":7,"departure_city_id":"resita","departure_company_id":"imp_otel","arrival_city_id":"salzburg","arrival_company_id":"rt_log","market_id":"external_contracts","cargo_id":"cement","cargo_mass":"24514.000000","distance_client":963,"fuel_used":406,"adblue_used":20,"truck_cabin_damage":"1.510","truck_chassis_damage":"1.890","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":1206,"income_weight":129,"income_adr":0,"income_high_value":0,"income_fragile":26,"income_police":26,"income_auto_park":132,"income_auto_load":0,"expense_fuel":604,"expense_truck_cabin":233,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":21,"expense_truck_wear_engine":22,"expense_truck_wear_transmission":19,"expense_truck_wear_wheels":31,"expense_trailer_wear_wheels":0,"game":"ETS2","truck_id":"man","expense_adr":0,"expense_high_value":0,"expense_fines":174,"income":6648,"expense":1578,"profit":5070},{"job_id":769422,"steam_id":"76561198042108497","xp_earned":0,"departure_year":2023,"departure_month":8,"departure_day":9,"arrival_year":2023,"arrival_month":8,"arrival_day":9,"departure_city_id":"salzburg","departure_company_id":"renat","arrival_city_id":"munchen","arrival_company_id":"bcp","market_id":"cargo_market","cargo_id":"sulfuric_t","cargo_mass":"25200.000000","distance_client":185,"fuel_used":58,"adblue_used":3,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":231,"income_weight":23,"income_adr":0,"income_high_value":0,"income_fragile":0,"income_police":4,"income_auto_park":23,"income_auto_load":23,"expense_fuel":86,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":3,"expense_truck_wear_engine":4,"expense_truck_wear_transmission":3,"expense_truck_wear_wheels":6,"expense_trailer_wear_wheels":6,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":591,"expense":108,"profit":483},{"job_id":769444,"steam_id":"76561198042108497","xp_earned":0,"departure_year":2023,"departure_month":8,"departure_day":9,"arrival_year":2023,"arrival_month":8,"arrival_day":9,"departure_city_id":"munchen","departure_company_id":"eurogoodies","arrival_city_id":"frankfurt","arrival_company_id":"domdepo","market_id":"cargo_market","cargo_id":"cement","cargo_mass":"57680.000000","distance_client":362,"fuel_used":199,"adblue_used":10,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":453,"income_weight":107,"income_adr":0,"income_high_value":0,"income_fragile":9,"income_police":9,"income_auto_park":46,"income_auto_load":0,"expense_fuel":296,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":10,"expense_truck_wear_engine":8,"expense_truck_wear_transmission":7,"expense_truck_wear_wheels":19,"expense_trailer_wear_wheels":27,"game":"ETS2","truck_id":"man","expense_adr":0,"expense_high_value":0,"expense_fines":560,"income":1214,"expense":927,"profit":287},{"job_id":773973,"steam_id":"76561198042108497","xp_earned":0,"departure_year":2023,"departure_month":8,"departure_day":15,"arrival_year":2023,"arrival_month":8,"arrival_day":15,"departure_city_id":"frankfurt","departure_company_id":"wgcc","arrival_city_id":"dortmund","arrival_company_id":"quarry","market_id":"cargo_market","cargo_id":"acid","cargo_mass":"21200.000000","distance_client":348,"fuel_used":148,"adblue_used":7,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":436,"income_weight":40,"income_adr":96,"income_high_value":0,"income_fragile":57,"income_police":9,"income_auto_park":48,"income_auto_load":48,"expense_fuel":220,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":7,"expense_truck_wear_engine":8,"expense_truck_wear_transmission":7,"expense_truck_wear_wheels":11,"expense_trailer_wear_wheels":11,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":1383,"expense":264,"profit":1119},{"job_id":781969,"steam_id":"76561198042108497","xp_earned":0,"departure_year":2023,"departure_month":8,"departure_day":27,"arrival_year":2023,"arrival_month":8,"arrival_day":27,"departure_city_id":"malaga","departure_company_id":"app","arrival_city_id":"lisboa","arrival_company_id":"kolico","market_id":"cargo_market","cargo_id":"olive_tree","cargo_mass":"7140.000000","distance_client":762,"fuel_used":255,"adblue_used":13,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":954,"income_weight":27,"income_adr":0,"income_high_value":0,"income_fragile":56,"income_police":18,"income_auto_park":94,"income_auto_load":0,"expense_fuel":379,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":13,"expense_truck_wear_engine":17,"expense_truck_wear_transmission":15,"expense_truck_wear_wheels":41,"expense_trailer_wear_wheels":50,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":2280,"expense":515,"profit":1765},{"job_id":782012,"steam_id":"76561198042108497","xp_earned":0,"departure_year":2023,"departure_month":8,"departure_day":27,"arrival_year":2023,"arrival_month":8,"arrival_day":27,"departure_city_id":"lisboa","departure_company_id":"kolico","arrival_city_id":"bayonne","arrival_company_id":"globeur","market_id":"freight_market","cargo_id":"car_balt2","cargo_mass":"6400.000000","distance_client":923,"fuel_used":289,"adblue_used":14,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":1156,"income_weight":26,"income_adr":0,"income_high_value":166,"income_fragile":197,"income_police":20,"income_auto_park":103,"income_auto_load":0,"expense_fuel":430,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":14,"expense_truck_wear_engine":21,"expense_truck_wear_transmission":18,"expense_truck_wear_wheels":50,"expense_trailer_wear_wheels":0,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":2826,"expense":533,"profit":2293},{"job_id":782116,"steam_id":"76561198042108497","xp_earned":0,"departure_year":2023,"departure_month":8,"departure_day":27,"arrival_year":2023,"arrival_month":8,"arrival_day":27,"departure_city_id":"livorno","departure_company_id":"cargotras","arrival_city_id":"catanzaro","arrival_company_id":"aci","market_id":"cargo_market","cargo_id":"hi_volt_cabl","cargo_mass":"21479.701172","distance_client":878,"fuel_used":270,"adblue_used":14,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":1100,"income_weight":87,"income_adr":0,"income_high_value":0,"income_fragile":61,"income_police":20,"income_auto_park":101,"income_auto_load":101,"expense_fuel":402,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":14,"expense_truck_wear_engine":20,"expense_truck_wear_transmission":17,"expense_truck_wear_wheels":28,"expense_trailer_wear_wheels":28,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":95,"income":2627,"expense":604,"profit":2023},{"job_id":783004,"steam_id":"76561198042108497","xp_earned":0,"departure_year":2023,"departure_month":8,"departure_day":28,"arrival_year":2023,"arrival_month":8,"arrival_day":28,"departure_city_id":"catanzaro","departure_company_id":"aci","arrival_city_id":"sassari","arrival_company_id":"cargotras","market_id":"cargo_market","cargo_id":"nylon_cord","cargo_mass":"23958.000000","distance_client":602,"fuel_used":203,"adblue_used":10,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":754,"income_weight":81,"income_adr":0,"income_high_value":0,"income_fragile":25,"income_police":17,"income_auto_park":85,"income_auto_load":85,"expense_fuel":302,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":10,"expense_truck_wear_engine":14,"expense_truck_wear_transmission":12,"expense_truck_wear_wheels":19,"expense_trailer_wear_wheels":19,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":2190,"expense":376,"profit":1814},{"job_id":784022,"steam_id":"76561198042108497","xp_earned":0,"departure_year":2023,"departure_month":8,"departure_day":30,"arrival_year":2023,"arrival_month":8,"arrival_day":30,"departure_city_id":"sassari","departure_company_id":"cargotras","arrival_city_id":"lyon","arrival_company_id":"batisse_hs","market_id":"cargo_market","cargo_id":"chewing_gums","cargo_mass":"23773.201172","distance_client":652,"fuel_used":233,"adblue_used":12,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":816,"income_weight":77,"income_adr":0,"income_high_value":0,"income_fragile":48,"income_police":0,"income_auto_park":81,"income_auto_load":81,"expense_fuel":346,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":12,"expense_truck_wear_engine":15,"expense_truck_wear_transmission":13,"expense_truck_wear_wheels":21,"expense_trailer_wear_wheels":21,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":2096,"expense":428,"profit":1668},{"job_id":794623,"steam_id":"76561198042108497","xp_earned":0,"departure_year":2023,"departure_month":9,"departure_day":15,"arrival_year":2023,"arrival_month":9,"arrival_day":16,"departure_city_id":"lyon","departure_company_id":"batisse_hs","arrival_city_id":"zurich","arrival_company_id":"stokes","market_id":"cargo_market","cargo_id":"empty_palet","cargo_mass":"22073.701172","distance_client":440,"fuel_used":138,"adblue_used":7,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":551,"income_weight":52,"income_adr":0,"income_high_value":0,"income_fragile":17,"income_police":0,"income_auto_park":59,"income_auto_load":59,"expense_fuel":205,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":7,"expense_truck_wear_engine":10,"expense_truck_wear_transmission":8,"expense_truck_wear_wheels":24,"expense_trailer_wear_wheels":14,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":1521,"expense":268,"profit":1253},{"job_id":796991,"steam_id":"76561198042108497","xp_earned":0,"departure_year":2023,"departure_month":9,"departure_day":19,"arrival_year":2023,"arrival_month":9,"arrival_day":19,"departure_city_id":"zurich","departure_company_id":"stokes","arrival_city_id":"rotterdam","arrival_company_id":"posped","market_id":"cargo_market","cargo_id":"desinfection","cargo_mass":"16820.099609","distance_client":742,"fuel_used":178,"adblue_used":9,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":929,"income_weight":60,"income_adr":0,"income_high_value":0,"income_fragile":54,"income_police":0,"income_auto_park":90,"income_auto_load":90,"expense_fuel":265,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":9,"expense_truck_wear_engine":17,"expense_truck_wear_transmission":14,"expense_truck_wear_wheels":40,"expense_trailer_wear_wheels":24,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":2313,"expense":369,"profit":1944},{"job_id":797767,"steam_id":"76561198042108497","xp_earned":0,"departure_year":2023,"departure_month":9,"departure_day":21,"arrival_year":2023,"arrival_month":9,"arrival_day":21,"departure_city_id":"rotterdam","departure_company_id":"sanbuilders","arrival_city_id":"travemunde","arrival_company_id":"euroacres","market_id":"cargo_market","cargo_id":"acetylene","cargo_mass":"14400.000000","distance_client":630,"fuel_used":176,"adblue_used":9,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":789,"income_weight":41,"income_adr":143,"income_high_value":0,"income_fragile":0,"income_police":0,"income_auto_park":71,"income_auto_load":0,"expense_fuel":262,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":9,"expense_truck_wear_engine":14,"expense_truck_wear_transmission":12,"expense_truck_wear_wheels":34,"expense_trailer_wear_wheels":41,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":1869,"expense":372,"profit":1497},{"job_id":797779,"steam_id":"76561198042108497","xp_earned":0,"departure_year":2023,"departure_month":9,"departure_day":21,"arrival_year":2023,"arrival_month":9,"arrival_day":21,"departure_city_id":"travemunde","departure_company_id":"euroacres","arrival_city_id":"werlte","arrival_company_id":"krone","market_id":"cargo_market","cargo_id":"beverages_c","cargo_mass":"32793.402344","distance_client":381,"fuel_used":167,"adblue_used":8,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":477,"income_weight":64,"income_adr":0,"income_high_value":0,"income_fragile":88,"income_police":0,"income_auto_park":49,"income_auto_load":0,"expense_fuel":248,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":8,"expense_truck_wear_engine":8,"expense_truck_wear_transmission":7,"expense_truck_wear_wheels":20,"expense_trailer_wear_wheels":25,"game":"ETS2","truck_id":"renault","expense_adr":0,"expense_high_value":0,"expense_fines":0,"income":1333,"expense":316,"profit":1017},{"job_id":797798,"steam_id":"76561198042108497","xp_earned":0,"departure_year":2023,"departure_month":9,"departure_day":21,"arrival_year":2023,"arrival_month":9,"arrival_day":21,"departure_city_id":"werlte","departure_company_id":"krone","arrival_city_id":"rotterdam","arrival_company_id":"wgcc","market_id":"cargo_market","cargo_id":"phosphor","cargo_mass":"15600.000000","distance_client":337,"fuel_used":98,"adblue_used":5,"truck_cabin_damage":"0.000","truck_chassis_damage":"0.000","truck_engine_damage":"0.000","truck_transmission_damage":"0.000","truck_wheels_damage":"0.000","trailers_chassis_damage":"0.00","trailers_wheels_damage":"0.00","trailer_cargo_damage":"0.000","trailers_body_damage":"0.00","income_distance":422,"income_weight":26,"income_adr":86,"income_high_value":0,"income_fragile":0,"income_police":0,"income_auto_park":43,"income_auto_load":0,"expense_fuel":145,"expense_truck_cabin":0,"expense_truck_engine":0,"expense_truck_transmission":0,"expense_truck_wheels":0,"expense_trailer_chassis":0,"expense_trailer_wheels":0,"expense_trailer_cargo":0,"expense_ferry":0,"expense_train":0,"expense_toll":0,"expense_adblue":5,
[...]
